.bg-home{
  background-color: #0caeffd0;
}

.bg-navbar{
  background-color: #003153;
  color: whitesmoke;
}


.bg-friends
{
  color: white;
  font-family: 'open san';
  background-image:  linear-gradient(0deg, rgba(0, 0, 0, 0.63),rgba(30, 30, 31, 0.842)),url(https://images3.alphacoders.com/641/641481.jpg);
  background-size: cover;
  min-height: 93vh;
}


.bg-himym
{
  color: white;
  font-family: 'open san';
  background-image:  linear-gradient(0deg, rgba(0, 0, 0, 0.63),rgba(30, 30, 31, 0.842)),url(https://e0.pxfuel.com/wallpapers/42/288/desktop-wallpaper-himym-met-your-mother-bar-poster.jpg);
  background-size: cover;
  min-height: 93vh;
}
.bg-tbbt
{
  color: white;
  font-family: 'open san';
  background-image:  linear-gradient(0deg, rgba(0, 0, 0, 0.63),rgba(30, 30, 31, 0.842)),url(https://images6.alphacoders.com/416/416156.jpg);
  background-size: cover;
  min-height: 93vh;
}
.bg-modern
{
  color: white;
  font-family: 'open san';
  background-image:  linear-gradient(0deg, rgba(0, 0, 0, 0.63),rgba(30, 30, 31, 0.842)),url(https://images6.alphacoders.com/672/672088.jpg);
  background-size: cover;
  min-height: 93vh;
}
.bg-office
{
  color: white;
  font-family: 'open san';
  background-image:  linear-gradient(0deg, rgba(0, 0, 0, 0.63),rgba(30, 30, 31, 0.842)),url(https://wallpapercave.com/wp/wp4013892.jpg);
  background-size: cover;
  min-height: 93vh;
}
.bg-got
{
  color: white;
  font-family: 'open san';
  background-image:  linear-gradient(0deg, rgba(0, 0, 0, 0.63),rgba(30, 30, 31, 0.842)),url(https://www.wallpaperflare.com/static/663/960/1016/game-of-thrones-game-thrones-poster-wallpaper-preview.jpg);
  background-size: cover;
  min-height: 93vh;
}

.bg-b99{
  color: white;
  font-family: 'open san';
  background-image:  linear-gradient(0deg, rgba(0, 0, 0, 0.63),rgba(30, 30, 31, 0.842)),url(https://wallpaperaccess.com/full/1455757.jpg);
  background-size: cover;
  min-height: 93vh;
}

.bg-simpsons{
  color: white;
  font-family: 'open san';
  background-image:  linear-gradient(0deg, rgba(0, 0, 0, 0.63),rgba(30, 30, 31, 0.842)),url(https://m.media-amazon.com/images/I/A165iqNDCAL.jpg);
  background-size: cover;
  min-height: 93vh;
}

.bg-community{
  color: white;
  font-family: 'open san';
  background-image:  linear-gradient(0deg, rgba(0, 0, 0, 0.63),rgba(0, 0, 0, 0.842)),url(https://wallpaperbat.com/img/543388-yes-another-few-community-wallpaper-george-spigots-blog.jpg);
  background-size: cover;
  min-height: 93vh;
}

.bg-iasip{
  color: white;
  font-family: 'open san';
  background-image:  linear-gradient(0deg, rgba(0, 0, 0, 0.63),rgba(0, 0, 0, 0.842)),url(https://i.pinimg.com/originals/01/36/9e/01369eea656e1081a7535e841eec5b29.jpg);
  background-size: cover;
  min-height: 93vh;
}
.bg-tmkoc{
  color: white;
  font-family: 'open san';
  background-image:  linear-gradient(0deg, rgba(0, 0, 0, 0.63),rgba(0, 0, 0, 0.842)),url(https://wallpaperaccess.com/full/6864344.jpg);
  background-size: cover;
  min-height: 93vh;
}
.bg-familyguy{
  color: white;
  font-family: 'open san';
  background-image:  linear-gradient(0deg, rgba(0, 0, 0, 0.63),rgba(0, 0, 0, 0.842)),url(https://4kwallpapers.com/images/wallpapers/family-guy-poster-3440x1440-15727.jpg);
  background-size: cover;
  min-height: 93vh;
}

@media only screen and (max-width: 600px) {

  .bg-friends{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.63),rgba(30, 30, 31, 0.678)),url(https://i.pinimg.com/564x/38/08/4c/38084cd8dadf9d00224fa88cf4b5e377.jpg);
    background-position: center;
  }
  .bg-himym{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.63),rgba(30, 30, 31, 0.815)),url(https://m.media-amazon.com/images/M/MV5BNjg1MDQ5MjQ2N15BMl5BanBnXkFtZTYwNjI5NjA3._V1_FMjpg_UX1000_.jpg);
    background-position: center;
  }
  .bg-tbbt{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.63),rgba(30, 30, 31, 0.815)),url(https://rukminim1.flixcart.com/image/850/1000/l2f20sw0/poster/a/g/8/small-the-big-bang-theory-poster-for-room-lp-big-bang-theory-28-original-imagdrvwfjcuurhj.jpeg?q=20);
    background-position: center;
  }
  
  .bg-modern{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.63),rgba(30, 30, 31, 0.829)),url(https://rukminim2.flixcart.com/image/850/1000/l52sivk0/poster/k/h/b/medium-butcutnw13923-modern-family-matte-finish-poster-butcute-original-imagfttvyzdsbryv.jpeg?q=20);
    background-position: center;
  }
  .bg-office{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.63),rgba(30, 30, 31, 0.829)),url(https://www.themoviedb.org/t/p/original/e2QXQY8al5nY2niTiaFiBJ3hk5a.jpg);
    background-position: center;
  }
  .bg-got{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.63),rgba(30, 30, 31, 0.829)),url(https://i.pinimg.com/1200x/ae/8c/21/ae8c21bc78b35923cdd54ef5868915ef.jpg);
    background-position: center;
  }
  .bg-b99{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.63),rgba(30, 30, 31, 0.829)),url(https://wallpapercave.com/wp/wp6790818.jpg);
    background-position: center;
  }
  .bg-simpsons{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.63),rgba(30, 30, 31, 0.829)),url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlDa04X0OIJijo3ii5N-NqDDlmS4Ewczehkg&usqp=CAU);
    background-position: center; 
  }

  .bg-community{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.63),rgba(0, 0, 0, 0.829)),url(https://i.redd.it/season-1-6-posters-v0-jy15dyahjv9a1.jpg?width=736&format=pjpg&auto=webp&s=0ad0d9ccce456f94dfa90fffdb31366ec2995ca4);
    background-position: center;
  }

  .bg-iasip{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.63),rgba(0, 0, 0, 0.829)),url(https://image.tmdb.org/t/p/original/2QZB4HdRfi318smoInObzK5pfcG.jpg);
    background-position: center;
  }
  .bg-tmkoc{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.63),rgba(0, 0, 0, 0.829)),url(https://akm-img-a-in.tosshub.com/indiatoday/images/story/202312/taarak-mehta-ka-ooltah-chashmah-is-not-going-off-air-051213226-3x4.jpg?VersionId=Pa2rGbW92OhGIGqG9WXk94H5.Uowseyi);
    background-position: center;
  }
  .bg-familyguy{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.63),rgba(0, 0, 0, 0.829)),url(https://image.tmdb.org/t/p/original/eWWCRjBfLyePh2tfZdvNcIvKSJe.jpg);
    background-position: center;
  }
  
}
