.bg-friends
{
  color: white;
  font-family: 'open san';
  background-image:  linear-gradient(0deg, rgba(0, 0, 0, 0.63),rgba(30, 30, 31, 0.842)),url(https://images3.alphacoders.com/641/641481.jpg);
  background-size: cover;
  min-height: 93vh;
}
.bg-himym
{
  color: white;
  font-family: 'open san';
  background-image:  linear-gradient(0deg, rgba(0, 0, 0, 0.63),rgba(30, 30, 31, 0.842)),url(https://e0.pxfuel.com/wallpapers/42/288/desktop-wallpaper-himym-met-your-mother-bar-poster.jpg);
  background-size: cover;
  min-height: 93vh;
}
.bg-tbbt
{
  color: white;
  font-family: 'open san';
  background-image:  linear-gradient(0deg, rgba(0, 0, 0, 0.63),rgba(30, 30, 31, 0.842)),url(https://images6.alphacoders.com/416/416156.jpg);
  background-size: cover;
  min-height: 93vh;
}
.bg-modern
{
  color: white;
  font-family: 'open san';
  background-image:  linear-gradient(0deg, rgba(0, 0, 0, 0.63),rgba(30, 30, 31, 0.842)),url(https://images6.alphacoders.com/672/672088.jpg);
  background-size: cover;
  min-height: 93vh;
}
.bg-office
{
  color: white;
  font-family: 'open san';
  background-image:  linear-gradient(0deg, rgba(0, 0, 0, 0.63),rgba(30, 30, 31, 0.842)),url(https://wallpapercave.com/wp/wp4013892.jpg);
  background-size: cover;
  min-height: 93vh;
}
